<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="body">
    <h1>Profile</h1>
    Name:<input type="text"><br>
    <br>
    Address:<input type="text"><br>
    <br>
    Blood group:<input type="text"><br>
    <br>
    Phone number:<input type="text"><br>
    <br>
    Adhar number:<input type="text"><br>
    <br>
    Vehicle number:<input type="text"><br>
    

</body>
</html>